:root {
    --text-text-link-orange: #FFB531;
    --text-text-link-blue: #16455F;
    --text-text-light: #404144;
    --surface-surface-secondary: #F9F8F2;
}

body {
    background-color: var(--surface-surface-secondary);
    margin: 0;
    padding: 0;
}

h1 {
    color: var(--text-text-link-blue); 
    font-size: 32px; 
    font-family: "Racing Sans One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

p {
    color: var(--text-text-light); 
    font-size: 16px;
    font-family: "Montserrat"; 
    font-weight: 400; 
    line-height: 24px; 
}

a {
    color: inherit;
    text-decoration: none;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* justify-content: center; */
    height: 100vh;
    padding: 0 4%;
    position: relative;
}

/* .container div {
    width: 50%;
} */

.bio {
    width: 100%; 
    height: 100%; 
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    display: flex;
}

.bio .img {
    width: 300px;
    height: 300px; 
    overflow: hidden; 
    border-radius: 50%;
}

.bio .img img {
    width: 100%;
    transform: scale(180%);
    margin-top: 40px;
    margin-left: -30px;
}

.bio .description {
    text-align: center; 
}

.links {
    width: 100%; 
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    gap: 2.5rem; 
    display: flex
}

.link {
    /* width: 25rem;  */
    width: 100%; 
}

.link ul {
    width: 100%; 
    gap: 2rem; 
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.link ul li {
    width: auto;
    padding: .5rem;
    list-style: none;
    text-align: center;
    border-radius: 3.5rem;
    border: 2px solid var(--text-text-link-orange);
    color: var(--text-text-link-orange);

    font-family: "Racing Sans One";
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.link ul li:hover {
    background-color: var(--text-text-link-orange);
    color: var(--text-text-link-blue);
}

.icon {
    padding: 0 auto;
    vertical-align: middle;
    text-align: center;
    gap: 1rem;
    display: flex;
}

.icon div{
    display: inline-block;
    width: fit-content;
    vertical-align: middle;
    height: 2.125rem;
}


.icon a span {
    font-size: 2.125rem;
    height: 2.125rem;
    color: var(--text-text-link-orange);
}

.icon a span:hover {
    color: var(--text-text-link-blue);
}

.decoration1 {
    position: absolute;
    left: 2rem; 
    top: 1rem; 
    z-index: 1;
}

.decoration2 {
    position: absolute;
    right: 6rem; 
    bottom: 3rem; 
    transform: rotate(60deg);
}
.portfolio {
    position: relative;
}

#construction {
    position: absolute;
    top: 50%;
    left: 80%;
    width: 100px;
    height: 100px; 
    background-color: var(--text-text-link-blue);
    border-radius: 50%;
    display: flex;
    text-align: center;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    transform: translate(-50%, -50%);
    font-weight: 700;
    border: var(--text-text-link-orange) 3px solid;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}
#construction::after {
    width: 100px;
    height: 50px; 
    content:"";
    bottom: 7px; /* Adjusted position after rotation */
    left: 18px; /* Adjusted position after rotation */
    transform: rotate(-45deg); /* Rotate it back */
    position: absolute;
    background-color: #d1c2d1;
    mix-blend-mode: multiply;
    border-radius: 0 0 100px 100px;
    border: #ffffff 1px solid;
    filter: blur(1px);
}
#construction p {
    color: var(--surface-surface-secondary);
    font-weight: 600;
    line-height: normal;
    transform: rotate(-15deg);
    z-index: 1;
}

@media only screen and (max-width: 768px) {
    .container {
        padding-top: 3rem;
    }

    .bio {
        height: fit-content; 
    }

    .bio .img {
        width: 200px;
        height: 200px; 
    }

    .container {
        display: flex;
        flex-direction: column;

    }
    .decoration1 {
        left: 2rem; 
        top: 1rem; 
        transform:scale(60%);

    }
    
    .decoration2 {
        right: .5rem; 
        bottom: .5rem; 
        transform:scale(60%);
    }

    #construction {
        width: 80px;
        height: 80px; 
    }
    #construction::after {
        width: 80px;
        height: 40px; 
        bottom: 6px; /* Adjusted position after rotation */
        left: 14px; /* Adjusted position after rotation */
    }
    #construction p {
        font-size: 12px;
    }
  }

@media only screen and (max-width: 576px) {
    .container {
      flex-direction: column;
    }

    .container div {
        width: 100%;
    }

    .bio .img {
        width: 180px;
        height: 180px; 
    }

    .link { 
        /* max-width: 15rem; */
    }
    
    .link ul {
        gap: 1rem; 
    }
    
    .link ul li {
        padding: .2rem;
    }
    .icon div{
        width: fit-content;
    }
  }
